---
const personalImageAlt = "Santos Bernabeu";
import Badge from "../components/Badge.astro";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-rose-500 dark:[&>p>strong]:text-rose-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-none"
  >
    <p>
      Estudiante de <em>Ingeniería Informática</em> y <strong
        >Desarrollador Front-end.</strong
      >
    </p>

    <p>
      Me llamo Santos pero mis amigos me llaman coyote. Desde bien pequeño me
      interese en el mundo del desarrollo cuando mi tio me regalo un arduino uno
      con el cúal empece a trastear. Actualmente estoy <strong
        >terminando la carrera de ingeniería Informática</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >el fine-tuning del modelo t5 para que realize la traducción de lenguaje
        NL a instrucciones CODE-2</strong
      >. Aunque no tenga gran potencia su desarrollo desde un pc doméstico es
      todo un éxito.
    </p>
  </div>

  <span
    class="relative inline-flex items-center justify-center rounded-full p-[6px] order-1 md:order-none shrink-0"
  >
    <!-- Fondo animado con blur -->
    <span
      class="inset-0 blur-md opacity-90 rounded-full absolute z-0 animate-[spin_5s_linear_infinite] bg-conic-0 from-white to-white dark:from-black via-rose-500 dark:via-rose-400 dark:to-black"
    ></span>

    <!-- Imagen principal -->
    <img
      width="200"
      height="200"
      src="/porfolio-santos/Santos_2.webp"
      alt={personalImageAlt}
      class="relative object-cover z-10 size-50 md:size-64 rounded-full"
      style="object-position: 50% 50%"
    />
  </span>
</article>
