---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
    {
        title: "Soporte TIC",
        date: "Actualmente...",
        company: "Dia Group",
        description:
            "Mantener y solucionar problemas con los sistemas tecnológicos que se utilizan para la gestión del almacén, como el software de gestión de almacén, los sistemas de identificación por radiofrecuencia (RFID) y otros dispositivos electrónicos. ",
        link: "#",
    },
    {
        title: "Prácticas de Soporte TI",
        date: "Julio 2024 - Septiembre 2024",
        company: "Dia Group",
        description:
            "Colaborar en la implementación y mantenimiento de sistemas tecnológicos utilizados en el almacén, como software de gestión de inventario, sistemas de identificación por radiofrecuencia (RFID) y otros dispositivos electrónicos. Aprender a solucionar problemas técnicos y brindar soporte a los usuarios.",
    },
    {
        title: "Investigador de IA",
        date: "2023-2024",
        company: "UMH - Universidad Miguel Hernández",
        description:
            "Desarrollar un sistema de IA para la detección de anomalías en el tráfico de red, utilizando técnicas de aprendizaje automático y análisis de datos. Implementar un modelo de IA capaz de identificar patrones inusuales en el tráfico de red y generar alertas en tiempo real.",
        link: "www.umh.es",
    }
];
---

<ol class="relative mt-8">
    {
        // Recorremos el array de experiencias y lo mostramos
        // con el componente ExperienceItem
        EXPERIENCIE.map((experiencie, i) => (
            <li class="">
                <ExperienceItem {...experiencie} position={i} isFirst={i === 0} isLast={i === EXPERIENCIE.length - 1}  />
            </li>
        ))
    }
</ol>
