---
const currentYear = new Date().getFullYear();
---

<footer class="mt-16 w-full backdrop-blur-md border-t border-rose-500/60 dark:border-rose-400/60 dark:bg-black/70 bg-white/70">
  <div class="max-w-screen-xl mx-auto px-30 py-6 md:py-8 flex flex-col md:flex-row items-center justify-between gap-4">
    
    <!-- Texto de derechos -->
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90 text-center md:text-left">
      © {currentYear}
      <a href="#" class="text-rose-500 dark:text-rose-400 hover:underline transition duration-300">Santos</a>. Casi todos los derechos reservados.
    </span>

    <!-- Enlaces -->
    <ul class="flex flex-wrap justify-center items-center gap-4 text-sm font-medium text-zinc-700/90 dark:text-zinc-300">
      <li>
        <a
          href="/porfolio-santos/#sobre-mi"
          class="hover:text-rose-400 transition duration-300"
        >
          Sobre mí
        </a>
      </li>
      <li>
        <a
          id="contacto"
          href="mailto:santosbaden@gmail.com"
          class="hover:text-rose-400 transition duration-300"
        >
          Contacto
        </a>
      </li>
    </ul>
  </div>
</footer>
