---
import SocialPill from "./SocialPill.astro";
import Badge from "./Badge.astro";
import LinkedinIcon from "./icons/Linkedin.astro";
import GithubIcon from "./icons/Github.astro";
import MailIcon from "./icons/Mail.astro";

const Socialspills = [
    {
        link: "https://www.linkedin.com/in/santos-bernabeu-marroqu%C3%AD-aab13317a/",
        class: "from-blue-600 to-blue-800 border-blue-500/50",
        icon: LinkedinIcon,
    },
    {
        link: "https://github.com/coyoteMMK",
        class: "from-gray-700 to-gray-900 border-gray-600/50",
        icon: GithubIcon,
    },
    {
        link: "mailto:santosbaden@gmail.com",
        class: "from-yellow-500 to-yellow-600 border-yellow-400/50",
        icon: MailIcon,
    },
];
---

<div
    class="flex flex-col md:flex-row items-center gap-8 max-w-5xl justify-center"
>
    <!-- Columna izquierda: imagen -->
    <div class="flex-shrink-0 mr-5 efecto-cristal rounded-2xl">
        <img
            class="size-30 md:size-64 order-1 p-1 md:order-2 lg:p-2 object-cover rounded-2xl"
            src="/porfolio-santos/Santos_perfil.webp"
            alt="Santos photo"
        />
    </div>

    <!-- Columna derecha: contenido -->
    <div class="flex flex-col justify-center">
        <h1
            class="text-3xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
        >
            Santos Bernabeu Marroquí
        </h1>

        <h2
            class="mt-5 text-2xl text-gray-800 dark:[&>strong]:text-rose-400 [&>strong]:text-rose-500 [&>strong]:font-semibold dark:text-gray-300"
        >
            <strong id="typewriter" class="typewriter-cursor"></strong>
        </h2>

        <h2
            class="mt-5 text-xl text-gray-800 dark:[&>strong]:text-rose-400 [&>strong]:text-rose-500 [&>strong]:font-semibold dark:text-gray-300"
        >
            En constante aprendizaje y mejora de mis habilidades. Soy de
            Alicante, España 🏟️. Especialista en crear espacios únicos.
        </h2>

        <!-- Nuevo SocialPuill nav -->
        <nav class="relative flex gap-4 mt-5 flex-wrap">
            <!-- Fondo del contenedor de socialPill -->
            <div
                class="efecto-cristal rounded-2xl inset-0 relative flex items-end gap-x-4 p-2"
            >
                {
                    Socialspills.map((socialPill) => (
                        <SocialPill
                            class={socialPill.class}
                            href={socialPill.link}
                        >
                            <socialPill.icon class="size-5 md:size-7" />
                        </SocialPill>
                    ))
                }
            </div>
        </nav>
    </div>
</div>

<style>
    .efecto-cristal::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: inherit;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        filter: url(#glass-distortion);
        -webkit-filter: url(#glass-distortion);
    }

    @layer utilities {
        .typewriter-cursor::after {
            content: "|";
            animation: blink 0.8s step-end infinite;
        }

        @keyframes blink {
            0%,
            100% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const target = document.getElementById("typewriter");
        const text = "Desarrollador Front-end";
        const speed = 75; // velocidad en ms por letra

        let index = 0;

        function type() {
            if (index < text.length) {
                target.textContent += text.charAt(index);
                index++;
                setTimeout(type, speed);
            }
        }

        type();
    });
</script>
